<div class="BackgroundHero BackgroundHero__Block--{{- block_position -}}
{% if full_height %} BackgroundHero--full-height {% endif %}">

  {%- if image != blank -%}
    <div class="BackgroundHero__ImageWrapper">
      <div class="BackgroundHero__Image {% if image_mobile != blank %}BackgroundHero__Image--desktop{% endif %} Image--lazyLoad"
           data-optimumx="1.2"
           data-bgset="{{ image | img_url: '750x' }} 750w, {{ image | img_url: '1000x' }} 1000w, {{ image | img_url: '1500x' }} 1500w">
      </div>
s
      {%- if image_mobile != blank -%}
        <div class="BackgroundHero__Image BackgroundHero__Image--mobile Image--lazyLoad"
             data-optimumx="1.2"
             data-bgset="{{ image_mobile | img_url: '750x' }} 750w, {{ image_mobile | img_url: '1000x' }} 1000w">
        </div>
      {%- endif -%}

      <noscript>
        <div class="BackgroundHero__ImageWrapper" style="background-image: url({{ image | img_url: '1000x' }})"></div>
      </noscript>
    </div>
  {%- endif -%}

  {%- if title != blank or content != blank or button_label != blank -%}
    <div class="BackgroundHero__Block {{ block_text_align_desk }} {{ block_text_align_mobile }}">

      {%- if subtitle != blank -%}
        <span class="BackgroundHero__BlockSubHeading">{{ subtitle | escape }}</span>
      {%- endif -%}

      {%- if logo != blank -%}
        {% assign logo_url = logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

        <img class="BackgroundHero__BlockSubLogo Image--lazyLoad"
             data-src="{{ logo_url }}"
             data-optimumx="1.2"
             data-widths="[400, 600, 800, 1000, 1200, 1400, 1600, 1800, 2000, 2200]"
             data-sizes="auto"
             alt="{{ logo.alt | escape }}">
      {%- endif -%}

      {%- if title != blank -%}
        <h3 class="BackgroundHero__BlockHeading {% if large_size %} large-size {% else %} normal-size {% endif %}">{{ title | escape }}</h3>
      {%- endif -%}

      {%- if content != blank -%}
        <div class="BackgroundHero__BlockContent Rte" id="slide-{{ section.id }}-{{ forloop_index }}">
          {{ content }}
        </div>
      {%- endif -%}

      {%- if button_label != blank and button_link != blank -%}
        <a href="{{ button_link }}" class="BackgroundHero__BlockLink Button Button--primary">{{ button_label | escape }}

          <span class="u-visually-hidden">{{ button_label | escape }} {{ title | escape }} {{ content | truncatewords: 5 }}</span>
        </a>
      {%- endif -%}

      {%- if button_label_2 != blank and button_link_2 != blank -%}
        <a href="{{ button_link_2 }}" class="BackgroundHero__BlockLink Button Button--primary">{{ button_label_2 | escape }}

          <span class="u-visually-hidden">{{ button_label | escape }} {{ title | escape }} {{ content | truncatewords: 5 }} - second</span>
        </a>
      {%- endif -%}
    </div>
  {%- endif -%}
</div>