 <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.7.1/slick.min.js" integrity="sha256-Bccy5g19sAkVrles3ZHA4T4iPhNY9+1le3UL6cbTpao=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />

<div class="product-vendor {{ section.id }}">
  <div class="Container section-container">
 {% for block in section.blocks %}
   {% assign productVendor = product.vendor | handleize %}
   {%- assign vendorFromSection = block.settings.title | default: 'Empty vendor' -%}
   {%- assign vendorFromSection_handle = vendorFromSection | handleize -%}
   {%- assign product_collection = block.settings.product_collection -%}
   {%- assign show_on_collection = false -%}
   {%- assign show_by_vendor = false -%}

   {%- if vendorFromSection_handle == productVendor -%}
     {%- assign show_by_vendor = true -%}
   {%- endif -%}

   {%- if product_collection != blank -%}
     {% for collection in product.collections %}
       {%- if collection.handle == product_collection -%}
         {%- assign show_on_collection = true -%}
       {%- endif -%}
     {% endfor %}
   {%- endif -%}

    {% if show_by_vendor or show_on_collection %}
      {%- assign section_heading_desktop_fs = block.settings.section_heading_desktop_fs -%}
      {%- assign section_heading_mobile_fs = block.settings.section_heading_mobile_fs -%}
    <h2 class="vendor-heading vendor-heading-{{ section.id }}-{{ forloop.index }} Heading u-h2">{{block.settings.product-vendor-title}}</h2>
    <div class="Product_three_section">
    <div class="product-left-section product_vendor_box">
      {%if block.settings.titleA1 != blank or block.settings.subtextA1 %}
      <div class="product-left-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA1}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA1}}</div>
      </div>
      {%endif %}

      {% if block.settings.titleA2 != blank or block.settings.subtextA2 !=blank %}
      <div class="product-left-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA2}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA2}}</div>
      </div>
      {%endif %}

      {%if block.settings.titleA3 != blank or block.settings.subtextA3 != blank %}
      <div class="product-left-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA3}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA3}}</div>
      </div>
      {%endif %}
    </div>
    {% if block.settings.imageA1 != blank  or block.settings.imageA2 != blank or block.settings.imageA3 != blank or block.settings.imageA4 != blank or block.settings.imageA5 != blank%}
      <div class="image-product-vendor  product_img_vendor_box">
        <div class="carousel-main-div">
          <div class="carousel product_image_slides">
            {%- for i in (1..5) -%}
              {%- assign image_item = 'imageA' | append: i -%}
              {%- assign block_image = block.settings[image_item] -%}
              {%- if block_image != blank -%}
                <div class="carousel-cell">
                  <div class="carousel-cell-image-wrapper">
                    {% render 'image', image: block_image, class_name: 'carousel-cell-image' %}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    {% endif %}
    <div class="product-right-section product_vendor_box">
      {%if block.settings.titleA4 != blank or  block.settings.subtextA4 != blank%}
      <div class="product-right-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA4}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA4}}</div>
      </div>
      {%endif %}

      {% if block.settings.titleA5 != blank or block.settings.subtextA5 != blank %}
      <div class="product-right-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA5}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA5}}</div>
      </div>
      {%endif %}

      {%if block.settings.titleA6 != blank or  block.settings.subtextA6 != blank %}
      <div class="product-right-content">
        <h4 class="vendor-title Heading u-h4">{{block.settings.titleA6}}</h4>
        <div class="vendor-subheading">{{block.settings.subtextA6}}</div>
      </div>
      {%endif%}
    </div>
    </div>
    {%endif %}

     <style>
       {% if section_heading_desktop_fs != blank or section_heading_mobile_fs != blank %}
       {% if section_heading_desktop_fs != blank %}
       @media screen and (min-width: 641px) {
         .vendor-heading-{{ section.id }}-{{ forloop.index }} {
           font-size: {{ section_heading_desktop_fs }}px;
         }
       }
       {% endif %}
       {% if section_heading_mobile_fs != blank %}
       @media screen and (max-width: 640px) {
         .vendor-heading-{{ section.id }}-{{ forloop.index }} {
           font-size: {{ section_heading_mobile_fs }}px;
         }
       }
       {% endif %}
       {% endif %}
     </style>

    {%endfor %}
  </div>
</div>

<script>
  jQuery(document).ready(function(){
    $('.product_image_slides').slick({
      dots: true,
    infinite: true,
      speed:100,
      Arrows:false,
    slidesToShow: 1,
    slidesToScroll: 1

    });
  });
</script>

 {% schema %}
 {
   "name": "Product vendor detail",
   "class": "product-vendor-description",
   "settings": [
   ],
   "blocks": [
     {
       "type": "text_block",
       "name": "image-with-text",
       "settings": [
         {
           "type": "text",
           "id": "product-vendor-title",
           "label": "Title"
         },
         {
           "type": "text",
           "id": "section_heading_desktop_fs",
           "label": "Section heading desktop font size",
           "info": "Unit defined in 'px', Don't use 'rem', 'em', 'px', '%' or something else"
         },
         {
           "type": "text",
           "id": "section_heading_mobile_fs",
           "label": "Section heading mobile font size",
           "info": "Unit defined in 'px', Don't use 'rem', 'em', 'px', '%' or something else"
         },
         {
           "type": "collection",
           "id": "product_collection",
           "label": "Product collection"
         },
         {
           "type": "text",
           "id": "title",
           "label": "Product vendor"
         },
         {
           "type": "text",
           "id": "titleA1",
           "label": "Heading 1"
         },
         {
           "type": "richtext",
           "id": "subtextA1",
           "label": "Sub-heading 1"
         },
         {
           "type": "text",
           "id": "titleA2",
           "label": "Heading 2"
         },
         {
           "type": "richtext",
           "id": "subtextA2",
           "label": "Sub-heading 2"
         },
         {
           "type": "text",
           "id": "titleA3",
           "label": "Heading 3"
         },
         {
           "type": "richtext",
           "id": "subtextA3",
           "label": "Sub-heading 3"
         },
         {
           "type": "text",
           "id": "titleA4",
           "label": "Heading 4"
         },
         {
           "type": "richtext",
           "id": "subtextA4",
           "label": "Sub-heading 4"
         },
         {
           "type": "text",
           "id": "titleA5",
           "label": "Heading 5"
         },
         {
           "type": "richtext",
           "id": "subtextA5",
           "label": "Sub-heading 5"
         },
         {
           "type": "text",
           "id": "titleA6",
           "label": "Heading 6"
         },
         {
           "type": "richtext",
           "id": "subtextA6",
           "label": "Sub-heading 6"
         },
         {
           "type": "image_picker",
           "id": "imageA1",
           "label": "Image"
         },
         {
           "type": "image_picker",
           "id": "imageA2",
           "label": "Image"
         },
         {
           "type": "image_picker",
           "id": "imageA3",
           "label": "Image"
         },
         {
           "type": "image_picker",
           "id": "imageA4",
           "label": "Image"
         },
         {
           "type": "image_picker",
           "id": "imageA5",
           "label": "Image"
         }
       ]
     }
   ]
 }
 {% endschema %}
