{%- assign heading = section.settings.heading | default: 'Reviews' -%}

<div class="product-reviews section-container">

  {% render 'bv-ratings-reviews', product: product %}

  {% comment %}
    {%- comment -%}We parse from metafields the number of reviews. First we try to use the old way, and then the updated way{%- endcomment -%}
    {%- if product.metafields.spr.reviews contains 'itemprop="reviewCount"' -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '<meta itemprop="reviewCount" content="' | last | split: '">' | first | times: 1 -%}
    {%- else -%}
      {%- assign reviews_count = product.metafields.spr.reviews | split: '"reviewCount": "' | last | split: '"' | first | plus: 0 -%}
    {%- endif -%}

    <div class="product-reviews__header">
      <h2 class="product-reviews__heading">
        {{ heading }}
      </h2>

      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>

      <div class="product-reviews__caption">
        Based on {{ reviews_count }} {{ product.reviews_count }} {{ product.reviews_count | pluralize: 'review', 'reviews' }}
      </div>

    </div>

    <div class="product-reviews__content" id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>

    {%- if reviews_count > 2 -%}
      <button class="product-reviews__button Button Button--primary">load more</button>
    {%- endif -%}
  {% endcomment %}

</div>